# Dependency directories
node_modules
jspm_packages

# Code coverage results
coverage

# Project files
.idea
*.iml

# Cache
.eslintcache

# OS X
.DS_Store

# Developer local file
.env
dist/

# Logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed

#Sublime text
*.sublime-workspace

# Atom CTAGS
.tags
